.red {
  background-color: #990100;
  color: #fff;
}
.green {
  background-color: #0e8d94;
}
.blue {
  background-color: #063940;
}
.yellow {
  background-color: #ffe181;
}
.black {
  background-color: #1f1f20;
}
h1,
p {
  color: #fff;
}
p {
  font-weight: bold;
  font-size: 16pt;
}
body {
  background-image: url("../../assets/img/background.jpg");
}
p {
  font-family: "Lobster", cursive;
}
h1 {
  font-family: "Anton", sans-serif;
  font-size: 24pt;
}
